@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
body{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
/* .libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  } */
#wrapper {
    display: grid;
    border: solid 1px black;
    grid-template-columns: 2fr 2fr 1fr;
}

nav {
    grid-column: 1/ span 3;
    border: solid 1px black;
    background-color: rgba(53, 51, 54);

    a {
        color: white;
        /* Change this to the desired color */
        text-decoration: none;
        /* Remove underline */
    }

    /* Style for the link when hovered */
    a:hover {
        color: rgb(57, 98, 148);
        /* Change this to the desired color on hover */
    }
}

header {
    grid-column: 1/span 3;
    border: solid 1px black;
    padding-left: 20;
    background-image: url('./Header\ Pic.jpg');
    /* Replace 'your-image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    color: white;
    /* Example text color */
    text-align: center;
    padding: 100px 0;
    /* Adjust padding as needed */
    text-shadow: 4px 4px 4px #000000;
}


nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2,h3,h4,h5{
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}


.let_our_firm h2 {
    font-size: 18px;
}

.let_our_firm {
    padding-left: 10px;
    grid-column: 1/span 2;
}

main {
    grid-column: 1/span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
    padding: 50px;
    row-gap: 15px;
    background-color: rgba(198, 218, 191);
}

.know h4 {
    font-size: 18px;
}

.know {
    padding-left: 10px;
}

.areas h3 {
    font-size: 18px;
    padding-left: 38px;
}

.areas ul {
    list-style: none;
}

.areas {

}

.contact h5 {
    font-size: 18px;
    padding-left: 20px;
}

.contact {
    border: solid 1px rgba(53, 51, 54);
}

.picture img {
    width: 250px;
    border: solid 5px rgba(53, 51, 54);
}

footer {
    display: flex;
    justify-content: center;
    border: solid 1px black;
    grid-column: 1/span 3;
    background-color: rgba(53, 51, 54);
    color: white;
    /* Change this to the desired color */
    text-decoration: none;
    /* Remove underline */
}

@media screen and (max-width: 900px) {
    main {
        grid-template-columns: 1fr;
    }

    #wrapper {
        grid-template-columns: 1fr;
    }

    nav,
    header,
    footer,
    main,
    .let_our_firm {
        grid-column: 1/span 1;
    }

    .contact {
        width: 100%;
    }

    .know {
        grid-row: 2;
    }

    .picture {
        display: flex;
        justify-content: center;
    }

    .picture img {
        border-radius: 50%;
        border: 0px;
    }
}